.edit {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: grid;
    grid-template-areas: 'firstName lastName'
                         'date email'
                         'info info'
                         'buttons buttons';
    grid-gap: 10px; 
}